@font-face {
    font-family: 'Nexa Text-Trial';
    src: url('/fonts/NexaText-Trial-Regular.woff2') format('woff2'),
        url('/fonts/NexaText-Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial';
    src: url('/fonts/Nexa-Trial-Heavy.woff2') format('woff2'),
        url('/fonts/Nexa-Trial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial';
    src: url('/fonts/Nexa-Trial-Black.woff2') format('woff2'),
        url('/fonts/Nexa-Trial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial';
    src: url('/fonts/Nexa-Trial-Bold.woff2') format('woff2'),
        url('/fonts/Nexa-Trial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial';
    src: url('/fonts/Nexa-Trial-Light.woff2') format('woff2'),
        url('/fonts/Nexa-Trial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa-Trial Extra';
    src: url('/fonts/Nexa-Trial-ExtraBold.woff2') format('woff2'),
        url('/fonts/Nexa-Trial-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}