.footer-menu { list-style: none; padding: 0; margin: 0 0 0 0;
    display: flex; flex-wrap: wrap; gap: 25px; justify-content: flex-end;
    a { text-decoration: none; color: #000000;}
   }
   .footer-bot { border-top: 1px solid #C0CFDC; padding: 20px 0;
   p { color: #000000 ; margin-bottom: 0;
   a { font-weight: 600;}
   }
   }
   .footer-top { padding: 20px 0;
   .row { align-items: center;}
   }
   