@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/common';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/components';
@import 'partials/responsive';

























.social-icon-w { display: flex; gap: 10px; }
.social-icon { display: flex; gap: 15px;}

.price-duration-choose { display: flex; justify-content: center; align-items: center; margin-bottom: 25px; gap: 10px;}

.home-page-banner { padding-top: 140px; z-index: 99; background-color: #E5ECF2; background-image: url(/header-bg-mask.png); background-position: 50% 0; background-repeat: no-repeat;}







